.form-field {
  display: block;
  min-width: 300px;
  max-width: 450px;
  width: 100%;
}

.submit-button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 15px;
  font-weight: 600;

  &-valid {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
    background: #15EAD5;
    cursor: pointer;
  }
}

.button-spinner {
  margin-left: .5rem;
}