
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$fedex-coding-challenge-primary: mat-palette($mat-indigo);
$fedex-coding-challenge-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$fedex-coding-challenge-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$fedex-coding-challenge-theme: mat-light-theme((
  color: (
    primary: $fedex-coding-challenge-primary,
    accent: $fedex-coding-challenge-accent,
    warn: $fedex-coding-challenge-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($fedex-coding-challenge-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-align {
    &-center {
      align-items: center;
    }
  }
}

.tc {
  text-align: center;
}

.rounded-container {
  border-radius: 15px;
  border: solid 1px black;
  position: relative;
  padding: .75rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

.container-title {
  position: absolute;
  top: -12px;
  left: 15px;
  font-size: 16px;
  background-color: white;
  padding: 2px 4px;
}

.success-snackbar {
  background-color: #15FAA5;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
}